html {
    height: 100%;
    font-size: 1.3rem;
}


body{
      height: 100%;
      margin: 0  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img{
    width: 100%
}

a{
    text-decoration: none;
    color:#909399;
    cursor:pointer
}

.el-card {
    width: 80%;
    margin: 0 auto;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
    padding: .5rem 0 .5rem 0;
}

.bg-purple {
    background: #f6f9fc;
}

.bg-purple-light {
    background: #e5e9f2;
}

.bg-edit {
    background: #409EFF
}

.bg-delete{ 
    background: #F56C6C
}

.container {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f4f5f5;
    text-align: center;
    font-size: 0;
    white-space: nowrap;
    overflow: auto;
}

.container:after {
    content: '';
    display: inline-block;
    height: 90%;
    vertical-align: middle;
}

.box{
    width :25rem;
    margin :0 auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    white-space: normal;
}